.container{
    height: 50vh;
}

.upperDiv{
    background-color: #f1ecec;
}

.lowerDiv{
    background-color: white;
}

.photoBox{
    position: absolute;
    width: 200px;
    height: 600px;
    right: calc(20%);
    top: calc(25%);
    z-index: 100;
    background-color: red;
}

.collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
    background-color: black;
  }